lab_07/xml/common.dtd

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE Builds [
<!ELEMENT Builds (Build+)>
<!ELEMENT Build (BodyId, LensId, FilterId, Price, Year)>
<!ATTLIST Build id CDATA #REQUIRED>
<!ELEMENT BodyId (#PCDATA) >
<!ELEMENT LensId (#PCDATA) >
<!ELEMENT FilterId (#PCDATA) >
<!ELEMENT Price (#PCDATA) >
<!ELEMENT Year (#PCDATA) >
]>
